@import url('https://fonts.googleapis.com/css2?family=Libre+Barcode+128+Text&display=swap');

html {
    box-sizing: border-box;
}

:root {
    --column-1: #1C7CCC;
    --column-2: #fc902c;
    --column-3: #fff8af;
    --column-4: #88b4a1;
} 

body {
    margin: 0;
    min-height: 100vh;
    background: url("https://images.unsplash.com/photo-1527903789995-dc8ad2ad6de0?q=80&w=2920&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
    color: rgb(0, 0, 0);
    font-family: "Libre Barcode 128 Text", sans-serif;
    font-weight: 400;
    overflow-y: hidden;
}

.main-title {
    text-align: right;
    margin: 2rem 4.5rem 0 0;
    font-size: 2rem;
}